<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.movies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.activeandroid.app.Application"

        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data android:name="AA_DB_NAME" android:value="movies.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.pc.movies.Movie" />


        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|screenSize|orientation">

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".MoviesDetails"
            android:screenOrientation="user"
            />
    </application>

</manifest>